@use "../../styles/variables" as *;

.auth-screen {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  justify-items: center;
  gap: 1.5rem;
  width: 100%;
}

.auth-screen__title {
  font-family: $title-font-family;
  font-size: 1.6rem;
  color: #6B6B6B;
  justify-self: center;
  margin: 0;
  letter-spacing: 0.05em;
}

.auth-screen__form {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}

.auth-screen__col {
  display: grid;
  grid-template-columns: 15rem;
  gap: 1.5rem;
}

.auth-screen__error {
  font-family: $body-font-family;
  font-size: $sm-font-size;
  color: $base-color-red;
  margin: 0;
  text-align: center;
}

.auth-screen__actions {
  display: grid;
  width: 20rem;
}

.auth-screen__textarea-container {
  display: grid;
  grid-template-columns: 31.5rem;
  gap: 1rem;

  p {
    font-family: $body-font-family;
    font-size: $sm-font-size;
    color: #6B6B6B;
    margin: 0;
  }
}
