@use "../../styles/variables" as *;

@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

@property --num-min {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

@property --num-sec {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

.chip {
    display: flex;
    align-items: center;
    border-radius: 50px;
    min-width: 100px;
    background: white;
    border: none;
    position: relative;
}

.chip_icon-container {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid;
    flex-shrink: 0;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.chip_icon {
    width: 2.8rem;
    height: 2.8rem;
    position: relative;
}

.chip_data-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    .chip_data {
        font-family: $button-font-family;
        font-size: $md-font-size;
        margin: 0;
        color: $primary-font-color;
    }
}

.chip--stat {
    height: 52px;
    padding-left: 52px;

    .chip_data {
        position: relative;
        left: -0.5rem;
        top: 0.2rem;
    }
}

.chip--notification {
    min-height: 2.5rem;
    padding: 0.3rem 1rem 0.4rem calc(2.5rem + 0.2rem);
    min-width: fit-content;

    .chip_icon-container {
        height: 2.5rem;
        width: 2.5rem;
    }

    .chip_icon {
        width: 2.4rem;
        height: 2.4rem;
    }

    .chip_data {
        font-size: $sm-font-size;
        font-family: $body-font-family;
    }
}

.chip--time {
    border-color: $base-color-blue;
    box-shadow:
        inset 0 0 0 0.3rem $base-color-blue,
        0 0 0 0.1rem #fff,
        0 0 0 0.3rem $highlight-color-grey;

    .chip_icon-container {
        background-color: $base-color-blue;
        border-color: $base-color-blue;
    }

    .chip_data {
        color: $base-color-blue;
        animation: counter 1s ease-out forwards;
        counter-reset: num-min var(--num-min) num-sec var(--num-sec);

        &::after {
            content: counter(num-min) ":" counter(num-sec, decimal-leading-zero);
        }
    }
}

.chip--streak {
    border-color: $base-color-orange;
    box-shadow:
        inset 0 0 0 0.3rem $base-color-orange,
        0 0 0 0.1rem #fff,
        0 0 0 0.3rem $highlight-color-grey;

    .chip_icon-container {
        background-color: $base-color-orange;
        border-color: $base-color-orange;
    }

    .chip_icon {
        left: 0.1rem;
    }

    .chip_data {
        color: $base-color-orange;
        animation: counter 1s ease-out forwards;
        counter-reset: num var(--num);

        &::after {
            content: counter(num);
        }
    }
}

.chip--accuracy {
    border-color: $base-color-green;
    box-shadow:
        inset 0 0 0 0.3rem $base-color-green,
        0 0 0 0.1rem #fff,
        0 0 0 0.3rem $highlight-color-grey;

    .chip_icon-container {
        background-color: $base-color-green;
        border-color: $base-color-green;
    }

    .chip_data {
        color: $base-color-green;
        animation: counter 1s ease-out forwards;
        counter-reset: num var(--num);

        &::after {
            content: counter(num) "%";
        }
    }
}

.chip--error {
    border-color: $base-color-red;
    box-shadow:
        inset 0 0 0 0.2rem $base-color-red,
        0 0 0 0.1rem #fff,
        0 0 0 0.3rem $highlight-color-grey;

    .chip_icon-container {
        background-color: $base-color-red;
        border-color: $base-color-red;
    }
    .chip_data {
        color: $base-color-red;
    }
}

.chip--warning {
    border-color: $base-color-orange;
    box-shadow:
        inset 0 0 0 0.2rem $base-color-orange,
        0 0 0 0.1rem #fff,
        0 0 0 0.3rem $highlight-color-grey;

    .chip_icon-container {
        background-color: $base-color-orange;
        border-color: $base-color-orange;
    }
}

@keyframes counter {
    from {
        --num: 0;
        --num-min: 0;
        --num-sec: 0;
    }
}

@media (max-width: 500px) {
    .chip--stat .chip_data {
        top: 0.15rem;
    }
}
