@use "../../styles/variables" as *;

.mode-screen {
  container: layout / inline-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 2rem;

  .mode-screen__grid {
    display: grid;
    grid-template-columns: clamp(20rem, 15.813rem + 19.14vw, 25rem);
    grid-template-rows: repeat(5, 8rem);
    row-gap: clamp(0.5rem, 5vw, 0.7rem);
    column-gap: clamp(0.5rem, 1vw, 0.7rem);

    :first-child {
      grid-column: 1 / 2;
    }
  }

  @container layout (min-width: 768px) {   
    .mode-screen__grid {
      grid-template-columns: repeat(2,  clamp(20rem, 18.667rem + 2.78vw, 22rem));
      grid-template-rows: repeat(3, 8.5rem);

      :first-child {
        grid-column: 1 / 3;
      }
    }
  }

  .mode-screen__title {
    font-size: $xl-font-size;
    text-transform: uppercase;
    font-family: $title-font-family;
    font-optical-sizing: auto;
    text-align: center;
    font-weight: lighter;
    font-style: normal;
    color: rgb(121, 121, 121);
    margin: 0 0 1rem 0;
    line-height: 1;
    user-select: none;
  }
}