@use "../../styles/variables" as *;

.text-input {
  display: flex;
  flex-direction: column;
  align-items: center;

  .text-input__helper-text {
    font-size: 1rem;
    font-family: $body-font-family;
    color: $secondary-font-color;
  }
}

.text-input__input {
  width: 100%;
  font-size: 1.4rem;
  padding: 0.4rem 0;
  text-align: center;
  font-family: $input-font-family;
  font-optical-sizing: auto;
  font-weight: lighter;
  line-height: 1;
  border: 0.1rem solid $shadow-color-grey;
  border-radius: 0.5rem;
  box-shadow: 
    0 0 0 0.12rem #fff,
    0 0 0 0.24rem $highlight-color-grey;
  outline: none;
  transition:
    border-color 0.2s,
    color 0.2s,
    background 0.2s,
    box-shadow 0.2s;
}

.text-input__input--form {
  font-size: 1rem;
  text-align: left;
  padding: 0.8rem;

  &::placeholder {
    color: rgba($secondary-font-color, 0.4);
  }
}

.text-input__textarea {
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  text-align: left;
  font-family: $input-font-family;
  font-optical-sizing: auto;
  font-weight: lighter;
  line-height: 1.5;
  border: 0.1rem solid $shadow-color-grey;
  border-radius: 0.5rem;
  box-shadow:
    0 0 0 0.12rem #fff,
    0 0 0 0.24rem $highlight-color-grey;
  outline: none;
  resize: none;
  transition:
    border-color 0.2s,
    color 0.2s,
    background 0.2s,
    box-shadow 0.2s;

  &::placeholder {
    color: rgba($secondary-font-color, 0.4);
  }
}

.text-input__input--valid {
  border-color: $base-color-green;
  box-shadow: 0 0 0 0.2rem $highlight-color-green;
  color: $base-color-green;
}

.text-input__input--invalid {
  border-color: $base-color-red;
  box-shadow: 0 0 0 0.2rem $highlight-color-red;
  color: $base-color-red;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-8px);
  }
  30% {
    transform: translateX(8px);
  }
  45% {
    transform: translateX(-8px);
  }
  60% {
    transform: translateX(8px);
  }
  75% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(0);
  }
}

.text-input__input--shake {
  animation: shake 0.4s;
}