@use "../../styles/variables" as *;

.audio-button {
  --audio-base: #{$base-color-green};
  --audio-highlight: #{$highlight-color-green};
  --audio-shadow: #{$shadow-color-green};
  width: 4.3rem;
  height: 4.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--audio-base);
  border: 0.2rem solid var(--audio-shadow);
  box-shadow: 0 0 0 0.15rem var(--audio-shadow),
    0 0.3rem 0 0.15rem var(--audio-shadow);
  border-radius: 12px;
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease,
    filter 0.1s ease;
  
  border: 2px solid transparent;
  
  background-image:
  linear-gradient(var(--audio-base), var(--audio-base)),
  linear-gradient(to top, var(--audio-highlight), var(--audio-base));
  background-origin: border-box;
  background-clip: padding-box, border-box;

  &:not(:disabled):hover {
    filter: brightness(1.05);
  }

  &:not(:disabled):active {
    transform: translateY(0.2rem);
    box-shadow: 0 0 0 0.15rem var(--audio-shadow),
      0 0.1rem 0 0.15rem var(--audio-shadow);

  }

  .audio-button__icon {
    width: 2.7rem;
    object-fit: contain;
  }

  &.audio-button--small {
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    border: 0.15rem solid var(--audio-shadow);
    box-shadow: 0 0 0 0.15rem var(--audio-shadow),
      0 0.2rem 0 0.05rem var(--audio-shadow);

        
    border: 2px solid transparent;
    background-image:
    linear-gradient(var(--audio-base), var(--audio-base)),
    linear-gradient(to top, var(--audio-highlight), var(--audio-base));
    background-origin: border-box;
    background-clip: padding-box, border-box;


    &:not(:disabled):active {
      transform: translateY(0.2rem);
      box-shadow: 0 0 0 0.15rem var(--audio-shadow),
        0 0.1rem 0 0.01rem var(--audio-shadow);

    }

    .audio-button__icon {
      width: 2rem;
      height: 2rem;
    }
  }

  &.audio-button--blue {
    --audio-base: #{$base-color-blue};
    --audio-highlight: #{$highlight-color-blue};
    --audio-shadow: #{$shadow-color-blue};
  }

  &.audio-button--red {
    --audio-base: #{$base-color-red};
    --audio-highlight: #{$highlight-color-red};
    --audio-shadow: #{$shadow-color-red};
  }

  &.audio-button--brown {
    --audio-base: #{$base-color-brown};
    --audio-highlight: #{$highlight-color-brown};
    --audio-shadow: #{$shadow-color-brown};
  }

  &.audio-button--purple {
    --audio-base: #{$base-color-purple};
    --audio-highlight: #{$highlight-color-purple};
    --audio-shadow: #{$shadow-color-purple};
  }

  &.audio-button--orange {
    --audio-base: #{$base-color-orange};
    --audio-highlight: #{$highlight-color-orange};
    --audio-shadow: #{$shadow-color-orange};
  }
}